@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');

:root {
    --yellow-theme-background-color: #1d1d1d;
    --blue-theme-main-color: #8fe1ea;
    --yellow-theme-sub-text-color: #ffffff;  /* fixed */
    --yellow-theme-nav-background-color: #181818;
  }
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
html{
    font-size: 62.5%;
    height: 100%;
}
body{
    background: var(--yellow-theme-background-color);
    height: 100%;
}
#root{
    height: 100%;
}